node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

web-build/

/android
# Local logs
expo-start.log
expo-start.err.log

# Firebase local configuration
google-services.json
